* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --highlightcolor: rgba(95, 95, 245, 0.918);
}

.navbar {
    width: 32px;
    margin: auto;
}

.wikilogo {
    width: 14%;
}

input {
    background: transparent;
    border: 0px;
    margin-left: 22px;
}

.search img {
    width: 5%;
}

header {
    display: flex;
    align-items: center;
    width: 93vw;
    margin: auto;
}

input::placeholder {
    font-size: larger;
}

.search {
    position: relative;
    border: 1px solid gray;
    padding: 0.6%;
    width: 26%;
    margin-left: 43px;
    display: flex;
}

.button {
    font-weight: 550;
    position: relative;
    width: 50px;
    border: 1px solid gray;
    padding: 0.54%;
    cursor: pointer;
    background-color: rgba(240, 238, 238, 0.425);
}

header a {
    width: auto;
    text-decoration: none;
}

.options {
    display: flex;
    justify-content: end;
    gap: 13px;
    font-size: small;
}

a {
    text-decoration: none;
}

.contents {
    list-style: none;
    position: sticky;
    top: 60px;
    height: 16px;
    grid-row: 2/3;
    margin: 25% 3%;
}

ul li {
    margin: 10px 0px;
    font-size: small;
}

a:hover {
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: 14vw 72vw;
    gap: 0px 59px;
    margin: 3%
}

.heading {
    grid-column: 2/3;
    grid-row: 2/3;
    width: fit-content;
    position: relative;
}

.options2 a {
    text-decoration: none;
    margin: 0px 5px;
    color: black;
}

.options2 {
    display: flex;
    position: relative;
    margin: 1% 0;
}

.endpoints {
    position: absolute;
    right: 0;
}

div .blue {
    color: var(--highlightcolor);
}

h1 {
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
    font-weight: normal;
}

.box1 {
    position: absolute;
    top: 100px;
    right: 0;
    border: 1px solid gray;
    width: min-content;
}

.box2 {
    position: absolute;
    top: 104%;
    right: 0;
    border: 1px solid gray;
}

.box3 {
    position: absolute;
    width: min-content;
    right: 0px;
    border: 1px solid gray;
    font-size: 12px;
    top: 43%;
}

.article {
    font-size: 13px;
    width: 59%;
    line-height: 1.5;
}

.article2 {
    line-height: 1.5;
    font-size: 13px;
    margin-top: 1%;
}

.article3 {
    font-size: 13px;
    width: 75%;
    line-height: 1.5;
}

.refe {
    margin-top: 12px;
    font-size: 13px;
    width: 75%;
    line-height: 1.5;
    list-style-position: inside;
    display: grid;
    grid-template-columns: 65% 65%;
    column-gap: 3%;
}

.refe a {
    text-decoration: none;
}

.part1 {
    display: grid;
    grid-column: 1/2;
}

.part2 {
    grid-column: 2/3;
}

ul {
    list-style-position: inside;
}

footer {
    margin: 12px 49px;
}

footer a {
    text-decoration: none;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 12px;
}